*{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}
a{
    text-decoration: none;
    color: #fff;
}
h4, h3{
    text-transform: uppercase;
}
@media all and (min-width: 48em) {

    .header {
        background-color: #d2d0d0;
        position: fixed;
        display: flex;
        flex: 1 100%;
        justify-content: space-between;
        width: 100%;
        box-sizing: border-box;
        padding: 0 0.625em;
        z-index: 500;
    }
    /*ÌÅÍß*/

    a{ text-decoration: none;}
    .headNav{
        display: inline-block;
        padding-top: 0.3125em;
        font-size:0.8em;
    }
    .hedNav li{
        list-style-type: none;
    }
    .subMenu{
        display: none;
        position: absolute;
        right: 27.5em;
        top: 3.5em;
        list-style-type: none;
        background: #D2D0D0;
        padding: 0.3125em 0.3125em;
    }
    .subMenu:hover{
        display:block;
    }
    .headNavSub:hover ~.subMenu{
        display: block;
    }
    .navItem {
        text-transform: uppercase;
        color: #000;
        text-decoration: none;
        display: inline-block;
        padding: 1em 0.3em;
        border-bottom: 0.125em solid #d2d0d0;
        border-top: 0.125em solid #d2d0d0;
        transition: 1s ease;

    }
    li>.navItem{
        width: 11.25em;
    }
    .navItem:hover {
        border-bottom: 0.125em solid #545353;
        border-top:  0.125em solid #545353;
        padding: 0.5em 0.3em;
        cursor: pointer;
    }/* ÔÓÒÅÐ*/
.footer {
    background-color: #d2d0d0;
    color: #000;
    padding: 0 1.5625em;
    display: block;
    display: -webkit-flex;
    display: flex;

}

.footerRights {
    flex: 1;
    font-size: 0.8em;
    display: inline-block;
    padding-top: 0.9375em;
}
.footerContact{
    flex: 1;
    text-align: right;
    display: table-cell;
    vertical-align: middle;
    font-size: larger;
    margin-bottom: 0.3125em;
}
/* .footerContact:after {
     content: url(../image/facebook.png);
     position: relative;
     right: 0.3125em;
     bottom: -0.3125em;
 }*/
    .horisontalLine{
        color:#fff;
        height:4px;
        background-color: #fff;
        border-radius: 2px;
        width: 60%;
        margin: 30px auto;
        /*ò³íü*/
        /*  -webkit-box-shadow: inset 0px 0px 40px -10px rgba(0,0,0,0.5);
        -moz-box-shadow: inset 0px 0px 40px -10px rgba(0,0,0,0.5);
        box-shadow: inset 0px 0px 40px -10px rgba(0,0,0,0.5);*/
        /*ãðåä³åíò*/
    //* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c4c4c4+0,c2c2c2+5,c2c2c2+5,c8c8c8+5,cdcdcd+6,565656+14,ababab+22,424242+27,d3d3d3+35,d3d3d3+38,d3d3d3+38,b0b0b0+41,545454+48,b0b0b0+55,d3d3d3+58,d3d3d3+62,d3d3d3+65,d3d3d3+67,d3d3d3+67,d3d3d3+70,bfbfbf+71,494949+76,b0b0b0+80,b0b0b0+80,cecece+82,b0b0b0+85,5b5b5b+89,bababa+96 */
    background: #c4c4c4; /* Old browsers */
        background: -moz-linear-gradient(-45deg,  #c4c4c4 0%, #c2c2c2 5%, #c2c2c2 5%, #c8c8c8 5%, #cdcdcd 6%, #565656 14%, #ababab 22%, #424242 27%, #d3d3d3 35%, #d3d3d3 38%, #d3d3d3 38%, #b0b0b0 41%, #545454 48%, #b0b0b0 55%, #d3d3d3 58%, #d3d3d3 62%, #d3d3d3 65%, #d3d3d3 67%, #d3d3d3 67%, #d3d3d3 70%, #bfbfbf 71%, #494949 76%, #b0b0b0 80%, #b0b0b0 80%, #cecece 82%, #b0b0b0 85%, #5b5b5b 89%, #bababa 96%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg,  #c4c4c4 0%,#c2c2c2 5%,#c2c2c2 5%,#c8c8c8 5%,#cdcdcd 6%,#565656 14%,#ababab 22%,#424242 27%,#d3d3d3 35%,#d3d3d3 38%,#d3d3d3 38%,#b0b0b0 41%,#545454 48%,#b0b0b0 55%,#d3d3d3 58%,#d3d3d3 62%,#d3d3d3 65%,#d3d3d3 67%,#d3d3d3 67%,#d3d3d3 70%,#bfbfbf 71%,#494949 76%,#b0b0b0 80%,#b0b0b0 80%,#cecece 82%,#b0b0b0 85%,#5b5b5b 89%,#bababa 96%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg,  #c4c4c4 0%,#c2c2c2 5%,#c2c2c2 5%,#c8c8c8 5%,#cdcdcd 6%,#565656 14%,#ababab 22%,#424242 27%,#d3d3d3 35%,#d3d3d3 38%,#d3d3d3 38%,#b0b0b0 41%,#545454 48%,#b0b0b0 55%,#d3d3d3 58%,#d3d3d3 62%,#d3d3d3 65%,#d3d3d3 67%,#d3d3d3 67%,#d3d3d3 70%,#bfbfbf 71%,#494949 76%,#b0b0b0 80%,#b0b0b0 80%,#cecece 82%,#b0b0b0 85%,#5b5b5b 89%,#bababa 96%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c4c4c4', endColorstr='#bababa',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    }
section{
    padding: 5em 7% 0 7%;
    background-color: #000;
    color: #fff;
    text-align: center;
    }
    /*.sort{
        min-width: 27%;
    }
    .sort img{
        width: 100%;
        max-width: 450px;
    }*/
/*ÑÒÀÐÈÉ ÊÎÄ*/




    /*ÍÎÂÈÉ ÊÎÄ*/
    .gallery{
        display: -webkit-flex;
        display: flex;
        flex-flow: row wrap;
        padding: 0 0.625em;
        margin: auto;

    }
    .gallery_item {
        display: block;
        -webkit-flex: 1;
        flex: 1;
        padding: 0.625em;
        line-height: 150%;
        margin: 5px 1.1% 0 1.1%;
        text-align: center;
        border: 1px solid #000;
        transition: 1.5s;
        box-sizing: border-box;
        min-width: 22%;
               }

    .gallery_item:hover {
        opacity: .7;
        border: 1px solid #fff;
        color: #ccc;
        letter-spacing: 0.25em;

    }
    .stanColor{
        border: 1px solid #000;
        padding: 0;
      }
    .stanColor:hover{
        border: 1px solid #000;
        }

    .fotoName{
        color: #fff;
        display: inline-block;
        width: 800px;
        font-size: 200%;
        background-color: #000;
        position: relative;
        top:-5px;
    }
    .darkSide .fotoName{
        text-align: left;
        padding-left: 30px;
        font-size:150%;
        box-sizing: border-box;

    }
    .stanColor img{
        transition: 1.5s;
    }


     .stanColor:hover img{
       width: 90%;
       opacity: 1;
       padding-top: 5px;

     }

     .sort{
        min-width: 25%;
          max-width: 35%;
    }
      .option{

        min-width: 37%;
        max-width: 375px;
        margin: auto;
      }
    .surface{
        width: 100%;
         }

    .Window {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: #ebebea;
        z-index: 99999;
        display: none;
        pointer-events: none;
        text-align: center;
        /* opacity: 0.5;
         background: #d2d0d0;*/
    }


    .Window:target {
        display: block;
        pointer-events: auto;
    }
    .Window > div {
        max-width: 100%;
        width: auto;
        min-width: 500px;
        position: relative;
        margin: 3% auto;
        padding: 30px 10px 10px;
        border-radius: 10px;
            }
    .darkSide{
        padding: 10px;
        width: 800px;
        margin: auto;
        background-color: #000;


    }

    .close {
        font-family: Arial;
        background: #666;
        color: #FFFFFF;
        line-height: 25px;
        position: absolute;
        right: 200px;
        text-align: center;
        top: 20px;
        width: 24px;
        text-decoration: none;
        font-weight: bold;
    }
    .close:hover {
        background: #fff;
        color:#000; }

    .test{

        right: 390px;
        top: 650px;
        color: #fff;
        z-index: 1111111;
        background-color: #000;

    }

    a.prev,a.next {
        height:91px;
        position:absolute;
        width:43px;
        top:50%;
        margin-top:-30px;
        opacity:0.6;
        text-indent:-99999px;
        cursor:pointer;
        -webkit-transition:opacity 200ms ease-out;
    }
    a.prev:hover,a.next:hover {
        opacity:1;
    }
    .prev {
        left:0;
        background: #000 url('https://lh4.googleusercontent.com/-JN1IZLtuToI/UUoZnMG3C_I/AAAAAAAAAE8/SEbJ9nqXGnY/s226/sprite.png') no-repeat -200px 25px;
    }
    .next {
        right:0;
        background: #000 url('https://lh4.googleusercontent.com/-JN1IZLtuToI/UUoZnMG3C_I/AAAAAAAAAE8/SEbJ9nqXGnY/s226/sprite.png') no-repeat -167px 25px;
    }


}