@media screen and (max-device-width: 47.938em) {
    *{
        margin: 0;
        padding: 0;
    }
    .subMenu, .footerRights, .Window{
        display: none;
    }
    a {
        text-decoration: none;
        color: #fff;
    }
    section{
        background-color: #000;
        color: #fff;
        font-family: 'Open Sans', sans-serif;
        font-size: 1em;
        text-align: center;
        padding: 15px 7% 15px 7%;
    }
    img{
        width: 90%;
        margin: 10px 0;
    }
    p, hr, h3{
        margin: 15px 0;
    }

    .footer{
        text-align: right;
        padding: 10px 7% 20px 0;

    }
    .facebookLink{
        height: 60px;
        width: 60px;
        vertical-align: bottom;
    }
    .flexItem{
        text-align: center;
        padding: 1%;
    }
    .itemFoto{
        width: 90%;
    }


    .header, .footer{
        background-color: #d2d0d0;
        position: relative;
    }
    .header{
        padding: 15px 7%;
        height: 75px;
    }
    .headNav {
        color: #000;
        text-align: center;
        font-size:3em;
        margin-left: 40px;
        width: 400px;
        position: absolute;

    }
    .headLogo{
        position: absolute;
        right: 130px;
        top: 15px;

    }
    .headNav:hover .navItem{
        display: block;
        position:relative;
    }
    .navItem{
        position: relative;
        border: 1px solid #fff;
        color:#000;
        background-color: #ccc;
        padding: 8px 25px;
        font-size: 1em;
        display: none;
    }
    .current {
        display: block;
    }
}

@media all and (min-device-width: 48em) {
    *{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}

a {
    text-decoration: none;
    color: #fff;
}

h4,
h3 {
    text-transform: uppercase;
}


    .header {
        background-color: #d2d0d0;
        position: fixed;
        display: flex;
        flex: 1 100%;
        justify-content: space-between;
        width: 100%;
        box-sizing: border-box;
        padding: 0 0.625em;
        z-index: 500;
    }
    /*лемъ*/
    a {
        text-decoration: none;
    }
    .headNav {
        display: inline-block;
        padding-top: 0.3125em;
        font-size: 0.8em;
    }
    .hedNav li {
        list-style-type: none;
    }
    .subMenu {
        display: none;
        position: absolute;
        right: 27.5em;
        top: 3.5em;
        list-style-type: none;
        background: #D2D0D0;
        padding: 0.3125em 0.3125em;
    }
    .subMenu:hover {
        display: block;
    }
    .headNavSub:hover ~.subMenu {
        display: block;
    }
    .navItem {
        text-transform: uppercase;
        color: #000;
        text-decoration: none;
        display: inline-block;
        padding: 1em 0.3em;
        border-bottom: 0.125em solid #d2d0d0;
        border-top: 0.125em solid #d2d0d0;
        transition: 1s ease;
    }
    li>.navItem {
        width: 11.25em;
    }
    .navItem:hover {
        border-bottom: 0.125em solid #545353;
        border-top: 0.125em solid #545353;
        padding: 0.5em 0.3em;
        cursor: pointer;
    }
    /* тсреп*/
    .footer {
        background-color: #d2d0d0;
        color: #000;
        padding: 0 1.5625em;
        display: flex;
    }
    .footerRights {
        flex: 1;
        font-size: 0.8em;
        display: inline-block;
        padding: 0.9em 0;
    }
    .footerContact {
        flex: 1;
        text-align: right;
        display: table-cell;
        vertical-align: middle;
        font-size: larger;
        margin-bottom: 0.3125em;
    }
    .facebookLink {
        position: relative;
        right: 0.3125em;
        bottom: -0.3125em;
    }
    .horisontalLine {
        color: #fff;
        height: 0.25em;
        border-radius: 0.125em;
        width: 60%;
        margin: 1.875em auto;
        background: linear-gradient(135deg, #c4c4c4 0%, #c2c2c2 5%, #c2c2c2 5%, #c8c8c8 5%, #cdcdcd 6%, #565656 14%, #ababab 22%, #424242 27%, #d3d3d3 35%, #d3d3d3 38%, #d3d3d3 38%, #b0b0b0 41%, #545454 48%, #b0b0b0 55%, #d3d3d3 58%, #d3d3d3 62%, #d3d3d3 65%, #d3d3d3 67%, #d3d3d3 67%, #d3d3d3 70%, #bfbfbf 71%, #494949 76%, #b0b0b0 80%, #b0b0b0 80%, #cecece 82%, #b0b0b0 85%, #5b5b5b 89%, #bababa 96%);
            }
    section {
        padding: 5em 7% 0.9em 7%;
        background-color: #000;
        color: #fff;
        text-align: center;
    }
    /*мнбхи йнд*/
    .gallery {
        display: flex;
        flex-flow: row wrap;
        padding: 0 0.625em;
        margin: auto;
    }
    .gallery_item {
        display: block;
        flex: 1;
        padding: 0.625em;
        line-height: 150%;
        margin: 0.3125em 1.1% 0 1.1%;
        text-align: center;
        border: 0.0625em solid #000;
        transition: 1.5s;
        box-sizing: border-box;
        min-width: 22%;
    }
    .gallery_item:hover {
        opacity: .7;
        border: 0.0625em solid #fff;
        color: #ccc;
        letter-spacing: 0.25em;
    }
    .stanColor {
        border: 0.0625em solid #000;
        padding: 0;
    }
    .stanColor:hover {
        border: 0.0625em solid #000;
    }
    .fotoName {
        position: absolute;
        bottom: 0.7em;
        padding-left: 2em;
        color: #fff;
        display: inline;
        font-size: 150%;
    }
        .stanColor img {
        transition: 1.5s;
    }
    .stanColor:hover img {
        width: 90%;
        opacity: 1;
        padding-top: 0.3125em;
    }
    .sort {
        min-width: 25%;
        max-width: 35%;
    }
    .option {
        min-width: 37%;
        max-width: 23.4375em;
        margin: auto;
    }
    .surface {
        width: 100%;
    }
    .Window {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: #ebebea;
        z-index: 99999;
        display: none;
        text-align: center;
            }
    .Window:target {
        display: block;
          }
    .Window > div {
        max-width: 100%;
        width: auto;
        min-width: 31.25em;
        position: relative;
        margin: 3% auto;
        padding: 1.875em 0.625em 0.625em;
        border-radius: 0.625em;
    }
    .darkSide {
        padding: 0.625em;
        background-color: #000;
        width: 50em;
        margin: auto;
        text-align: left;
    }
    .close {
        font-family: Arial;
        color: #fff;
        line-height: 1.5625em;
        position: relative;
        left: 48.125em;
        text-align: center;
        padding: 0.3125em 0.625em;
        text-decoration: none;
        font-weight: bold;
        transition: 1.5s;
    }
    .close:hover {
        background: #fff;
        color: #000;
    }
    a.prev,
    a.next {
        height: 5.6875em;
        position: absolute;
        width: 2.6875em;
        top: 50%;
        margin-top: -1.875em;
        opacity: 0.6;
        text-indent: -6250em;
        cursor: pointer;
        transition: opacity 200ms ease-out;
    }
    a.prev:hover,
    a.next:hover {
        opacity: 1;
    }
    .prev {
        left: 0;
        background: #000 url('https://lh4.googleusercontent.com/-JN1IZLtuToI/UUoZnMG3C_I/AAAAAAAAAE8/SEbJ9nqXGnY/s226/sprite.png') no-repeat -12.5em 1.5625em;
    }
    .next {
        right: 0;
        background: #000 url('https://lh4.googleusercontent.com/-JN1IZLtuToI/UUoZnMG3C_I/AAAAAAAAAE8/SEbJ9nqXGnY/s226/sprite.png') no-repeat -10.4375em 1.5625em;
    }
}