@font-face {
    font-family: Lato;
    src: url(../fonts/Lato-Regular.ttf);
}
body{
    padding: 0;
    margin: 0;
    text-align: center;
}
.gallery {
    text-align: center;
    font-family: Lato;
    max-width: 1200px;
    width:95%;
    min-width: 400px;
    margin: 0 auto;
    display: inline-block;
}

.gallery_item {
    width: 360px;
    height: 260px;
    position: relative;
    display: inline-block;
    border-radius: 5px;
    margin: 1%;
    text-align: center;
}

.gallery_link {
    display: inline-block;
    margin: 0 0 60px;
    text-decoration: none;
    color: #999999;
}

.gallery_title {
    font-size: 36px;
    letter-spacing: 0.1em;
    margin: 20px 0;
    color: #2d394f;
}
.gallery_item:hover .gallery_item_fone {
    opacity: 0.8;
    display: block;
}

.gallery_item:hover .gallery_item_link {
    opacity: 1;
    z-index: 450;
    display: block;
}

.gallery_item_fone,
.gallery_item_link {
    position: absolute;
    padding-top: 110px;
    box-sizing: border-box;
    width: 360px;
    height: 260px;

    text-align: center;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.3s ease;
    display: none;
}

.gallery_item_fone {
    background: #57a5d4;
}
.gallery_item_link_zoom{

    display: inline-block;
    width: 42px;
    margin: auto;
    height: 42px;
    border: 1px solid #ffffff;
    border-radius:5px ;
    background-image: url(../images/zoom.png);
    background-repeat: no-repeat;
    background-position: center;
}
.gallery_item_link_zoom:hover{
    background-color: #4f9dcf;
    opacity: 0.5;
    }

.gallery_item_link_save{

    display: inline-block;
    width: 42px;
    margin: auto;
    height: 42px;
    border: 1px solid #ffffff;
    border-radius:5px ;
    background-image: url(../images/link.png);
    background-repeat: no-repeat;
    background-position: center;
}
.gallery_item_link_save:hover{
    background-color: #4f9dcf;
    opacity: 0.5;
}

.Window {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255,255,255, 0.7);
    z-index: 99999;
    display: none;
    pointer-events: none;
}

.Window:target {
    display: block;
    pointer-events: auto;
}

.Window > div {
    max-width: 1200px;
    width: auto;
    min-width: 500px;
    position: relative;
    margin: 10% auto;
    padding: 30px 10px 10px;
    border-radius: 10px;
    background: #fff;
   }

.close {
    font-family: Arial;
    background: #cc3300;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: 65px;
    text-align: center;
    top: 20px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
}

.close:hover {  background: #fff;
    color:#000; }