* {
    margin: 0;
    padding: 0;
}

.serch {
    position: relative;
    width: 80%;
    min-width: 300px;
    height: 65px;
    box-sizing: border-box;
    margin: 10px auto;
    background-color: #fc6;
    background: -webkit-linear-gradient(top, #fc6, #ffffff);
    background: linear-gradient(to bottom, #fc6, #ffffff);
    padding: 5px;
    font-family: Arial;
}

.wrapper_field {
    min-width: 100px;
    width: 100%;
    padding-right: 115px;
    box-sizing: border-box;
}

.wrapper_button {
    width: 110px;
    position: absolute;
    right: 0;
    top: 5px;
}

.serch_button {
    height: 35px;
    width: 90px;
    border-radius: 5px;
    background-color: #ededed;
}

.serch_field {
    width: 100%;
    height: 30px;
    font-size: 18px;
    line-height: 2em;
}

.serch:after {
    content: "";
    display: inline-block;
    width: 32px;
    height: 32px;
    background-color: #fc6;
    background: -webkit-linear-gradient(top left, #fc6, #ffffff);
    background: linear-gradient(to bottom right, #fc6, #ffffff);
    -webkit-transform: matrix(-1, 1, 1, 1, 18, 17);
    -ms-transform: matrix(-1, 1, 1, 1, 18, 17);
    transform: matrix(-1, 1, 1, 1, 18, 17);
    position: absolute;
    right: 2px;
    /*bottom:0;*/
    top:-1px;
    z-index: -1;
}

.advisor {
    border-bottom: 1px dotted;
}
