@font-face {
    font-family: OpenSans-Regular;
    src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face{
    font-family: Futura Md;
    src: url(../fonts/Futura%20Md.ttf);
}
@font-face {
    font-family: Calibri;
    src: url(../fonts/Calibri.ttf);
}
@font-face {
    font-family: Trebuchet MS;
    src: url(../fonts/Trebuchet%20MS.ttf);
}
@font-face {
    font-family: FuturaBT;
    src: url(../fonts/futurabt-book-opentype.otf);
}
@font-face {
    font-family: Myriad Pro;
    src: url(../fonts/MyriadProRegular.ttf);
}
body{
    padding: 0;
    width: 1400px;
    margin:0 auto;
}
.header_logo{
    display: inline-block;
    position: relative;
    left: 188px;
    top:37px;
}
.header_menu{
    display: inline-block;
    position: relative;
    left: 345px;
    top:37px;
}
.header_menu_link{
    font-family: "OpenSans-Regular";
    color: #adadad;
    font-size: 14px;
    text-decoration: none;
    display: inline-block;
    padding: 20px 20px 40px 15px;
    border: 4px solid #ffffff;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow: hidden;
}
.header_menu_link:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    background: #2098d1;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.header_menu_link:hover:before, .header_menu_link:focus:before, .header_menu_link:active:before {
    left: 0;
    right: 0;
}
.main{
    position: absolute;
    top: 120px;
    background: url(../images/Rectangle.png) no-repeat;
    width: 1400px;
    height: 590px;
    clear: both;
    color: #ffffff;
    text-align: center;
}
.main_titleFirst{
    position: absolute;
    top: 110px;
    left:0;
    right:0;
    font-size: 36px;
    font-family: "OpenSans-Regular";
}
.main_titleSecond{
    position: absolute;
    top: 145px;
    left:0;
    right:0;
    font-family: "Futura Md";
    text-transform: uppercase;
    font-weight: bold;
    font-size: 48px;
}
.main_titleThird{
    position: absolute;
    top: 305px;
    left:0;
    right:0;
    font-size: 20px;
    font-family: "Calibri";
    font-style: italic;
}
.main_buttonLink{
    position: absolute;
    top: 423px;
    left:570px;
    font-size: 16px;
    font-family: "OpenSans-Regular";
    text-align: center;
    display: block;
    text-decoration: none;
    border: 1px solid #ffffff;
    color: #ffffff;
    padding: 16px 0;
    width: 247px;
    overflow: hidden;
}
.servises {
    position: absolute;
    padding: 0 150px;
    top: 700px;
    width: 1400px;
    box-sizing: border-box;
    font-family: "Trebuchet MS";
    line-height: 0.833;
}
.servises__title {
    font-size: 30px;
    color: #41525c;
    text-transform: uppercase;
    margin:70px 0 40px;
    text-align: center;
   }
.servises__grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    text-align: center;
}
.servises__grid_item {
    position:relative;
    flex: 1;
    padding: 30px 25px;
  }
.servises__grid_item_icon{
    width: 145px;
    height:145px;
    text-align: center;
}
.servises__grid_item_text {
    position: relative;
    top:0;
    font-size: 14px;
    color: #999;
    line-height: 1.786;
    font-family: "OpenSans-Regular";
    }
.servises__grid_item_title {
    font-size: 30px;
    font-family: "FuturaBT";
    font-weight: normal;
    color: #3070a8;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    top:0;
    left:10px;
    margin-bottom: 20px;
}
.middle {
    position: absolute;
    top: 1265px;
    padding: 0;
    width: 1400px;
    height: 890px;
    text-align: left;
    background: url("../images/middle_fon.png") no-repeat;
    font-family: "FuturaBT";
    font-weight: normal;
}
.middle_title {
    position: absolute;
    top: 50px;
    left: 185px;
    font-size: 26px;
    color: #ee8129;
    text-transform: uppercase;
    line-height: 1.846;
}
.middle_text {
    position: absolute;
    top: 155px;
    left: 195px;
    font-style: italic;
    font-size: 19px;
    color: #ffffff;
    line-height: 1.579;
    font-family: "OpenSans-Regular";
}
.middle_list {
    position: absolute;
    top: 220px;
    left: 185px;
    width: 604px;
    font-size: 14px;
    color: #9d9d9d;
    line-height: 2.143;
    font-family: "OpenSans-Regular";
}
.middle_list li {
    margin-bottom: 15px;
}
.middle_list li:nth-child(2){
    color: rgb(48, 112, 168);
}

.choose {
    text-align: center;
    font-family: "Trebuchet MS";
    width: 1400px;
    min-width: 900px;
    margin: 0 auto;
    padding: 0;
    position: absolute;
    top: 1890px;
}

.choose_title {
    font-size: 30px;
    color: #41525c;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 70px;
    line-height: 0.833;
    text-align: center;
}

.choose__conteiner_title {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
}

.choose__conteiner {
    position: relative;
    display: inline-block;
    border: 1px solid #e8eaec;
    border-radius: 5px;
    background-color: #fff;
    width: 291px;
    height: 444px;
}

.container-left {
    left: 10px;
}

.container-right {
    right: 10px;
}

.conteiner-active {
    bottom: 10px;
    border: 4px solid #ec8136;
    border-radius: 5px;
    height: 460px;
    z-index: 10;
    box-shadow: 0 0 13px 0.2px rgba(21, 117, 175, 0.3);
}

.container_best {
    position: absolute;
    background-color: #ec8136;
    width: 291px;
    height: 73px;
}

.container_ultimate {
    position: absolute;
    width: 291px;
    height: 63px;
    background-color: #1cb79a;
    border-radius: 5px 5px 0 0;
}

.container_standart {
    position: absolute;
    top: 0;
    width: 291px;
    height: 63px;
    background-color: #37c2d3;
    border-radius: 5px 5px 0 0;
}

.container_icon_title {
    color: #41525c;
    position: absolute;
    left: 0;
    right: 0;
    top: 55px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
}

.conteiner-active .container_icon_title {
    top: 65px
}

.choose__conteiner_text {
    text-align: center;
    color: #364959;
    font-family: "Futura Md BT";
}

.conteiner-active .choose__conteiner_list {
    top: 120px;
}

.choose__conteiner_list {
    position: relative;
    list-style: none;
    text-align: left;
    top: 110px;
    font-size: 15px;
    color: #888c94;
}

.choose__conteiner_list_item {
    display: block;
    padding: 5px 0 10px 0;
    margin: 0 20px 2px -20px;
}

.choose__conteiner_list_item:nth-child(odd) {
    background-color: #eef5fc;
    margin-bottom: 1px;
}

.choose__conteiner_list_item:nth-child(even) {
    background-color: #f5f5f6;
    margin-bottom: 1px;
}

.choose__conteiner_list_item:before {
    content: url(../images/Shape.png);
    margin: 0 15px 0 30px;
}

.conteiner-active .choose__conteiner_button {
    top: 125px;
}

.choose__conteiner_button {
    position: relative;
    top: 115px;
    width: 253px;
    font-size: 14px;
    color: #ffffff;
    background-color: #3371a6;
    box-shadow: 0 3px 0 0 #16436a;
    border-radius: 5px;
    padding: 10px 30px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.choose__conteiner_button:hover {
    box-shadow: none;
}

.cost {
    font-size: 72px;
    font-weight: bold;
    position: relative;
    top: 100px;
    right: 15px;
}

.conteiner-active .cost {
    top: 110px;
}

.dollar {
    font-size: 22px;
    font-weight: bold;
    position: absolute;
    top: 125px;
    left: 75px;
}

.conteiner-active .dollar {
    top: 135px;
}

.monthly {
    font-size: 18px;
    position: absolute;
    top: 180px;
    left: 165px;
}

.conteiner-active .monthly {
    top: 190PX;
}
.clientSays{
    position: absolute;
    top:2545px;
    background: url("../images/Background.png") no-repeat;
    padding:10px 0 60px;
    width: 1400px;
    margin: auto;
}
.clientSays h2{
    font-size: 38px;
    font-family: "Trebuchet MS";
    color: rgb(238, 129, 41);
    margin: 40px 0 45px;
    text-align: center;
    position: relative;
    right: 20px;
}
.blueTextHover{
    color: rgb(48, 112, 168);
}
.respond{
    display: inline-block;
    width: 490px;
    height: 100px;
    margin: auto;
}

.wrap{
    width: 1025px;
    margin: auto;
}
.respond:nth-child(2n+1){
    margin-right: 35px;
}
.textIcon{
    position: relative;
    background-color: #ffffff;
    box-sizing: border-box;
    width: 365px;
    height:100px;
    overflow: hidden;
    padding: 15px;
    margin-bottom: 40px;
}
.respond:hover .textIcon{
    background-color: #c6e2f4;
}
.respond:hover .arrow{
    border-color:transparent #c6e2f4 transparent transparent;
}
hr{
    border:1px dotted #000000;
    clear: both;
}
.userName,
.userStatus{
    font-size: 13px;
    font-family: "Trebuchet MS";
    color: rgb(48, 112, 168);
    font-style: italic;
    margin-bottom: 10px;
}
.userName:before{
    content: "- ";
}
.arrow{
    float:left;
    margin: 30px 0 0 -5px;
    display: inline-block;
    width: 0;
    height: 0;
    border: 15px solid;
    border-color:transparent #fff transparent transparent;
}
.userName{float: left;}
.userStatus{float: right;}
.textIcon p{
    position: absolute;
    top: 35px;
    font-size: 13px;
    font-family: "Trebuchet MS";
    color: rgb(102, 102, 102);
    text-align: left;
    line-height: 1.538;
}
.respond_image{
    display:inline-block;
    float:left;
}
.footer{
    position:absolute;
    top:2860px;
    background-color:#FFF;
    width: 1400px;
}
.footer_wrap{
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.footer__contact{
    font-size: 14px;
    font-family: "OpenSans-Regular";
    text-align: left;
    color: rgb(102, 102, 102);
    line-height: 2.1;
    position: relative;
    top:42px;
    left: 250px;
    flex: 1;
}
.footer__map{
    flex:1;
    height: 345px;
    background: url(../images/footer_map.png) no-repeat;
}
.footer__dev{
    font-size: 14px;
    font-family: "OpenSans-Regular";
    color: rgb(255, 255, 255);
    line-height: 2.143;
    text-align: center;
    background-color: #3070a8;
    width: 1400px;
    padding: 20px 0;
    margin: 0;
}
.footer__dev_addres{font-style: normal;}
.footer__dev_link{text-decoration: none;
    color: #000;
}
.footer__contact_phone:before {
    content: url("../images/footer_icon_phone.png");
    position:absolute;
    left: -60px;
    top: 125px;
}
.footer__contact_phone{
    line-height: 3.5;
}
.footer__contact_name:before{
    content: url("../images/footer_icon_location.png");
    position: absolute;
    left: -60px;
}
.footer__contact_mail:before{
    content: url("../images/footer_icon_mail.png");
    position: absolute;
    left: -60px;
}
.footer__contact_icon{
    position: absolute;
    bottom: 125px;
    left:190px;
}
.footer__contact_icon_fb,
.footer__contact_icon_tw{
    margin-right: 15px;
}


